*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%
}
body{
    text-align: center;
    background-color: bisque;
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:10px;
    border:transparent;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: brown;
    background-color: white;
    /* transition: .2s ease-in; */
}
.box:hover{
    border: 2px solid black;
    transition: .2s ease-in;
}
#reset-btn{
    height:30px;
    width: 60px;
    border-radius: 5px;
    font-size: 20px;
    background-color: black;
    color: white;
}
#new-btn{
    height: 28px;
    width:100px;
    border-radius: 5px;
    font-size: 15px;
}
#new-btn:hover{
    background-color: aquamarine;
    transition: .4s ease;
    border: 2px solid rgb(251, 59, 59);
}
.msg{
    font-size: xx-large;
    color:darkgreen;
}
.msg-container{
    height:95px;
}
.hide{
    display: none;
}