*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
/* html,body{
    height: 100%;
    width:100%;

} */
.navbar{
    height:60px;
    background-color: black;
    color: white;
}
.nav-logo{
    height: 50px;
    width: 100px;
    border:2px solid transparent;  
    background-image: url("amz2.png"); 
    background-size: cover;
    background-repeat: no-repeat;             
}
.nav-logo:hover{
    border:2px solid white;
}
.logo{
    height:50px;
    width:100px; 
}
.dev{
    text-align: center;;
}